*{
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: cornflowerblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  margin:auto;
  padding:5px;
  display: flex;
}

h1{
  margin-top:10%;
  background-color:black;
  color: white;
  text-align: center;
  align-content: center;
  padding: 5px;
  margin-right:15px;
}

.header{
  margin: 10px;
  display:block;
  justify-content: center;
  width:30%;
}
.subPart{
  width:70%;
}
.add{
  background-color: black;
  color:white;
  padding:5px;
  cursor: pointer;
  width:50px;
  text-align: center;
  align-content: center;
  margin: auto;
}

input{
  height: 25px;
  width:90%;
  padding:5px;
  margin:5px;
}
.data{
  background-color: antiquewhite;
  margin:10px;
}
.todoData{
  margin-top: 1rem;
  background-color: rgb(241, 229, 219);
  color: black;
  padding: 5px;
  border-radius: 5px;
  border:1px solid black;
  min-height: 100px;
  max-height: auto;
}
.task{
  font-size: 20px;
  font-weight: 500;
  background-color:black;
  color: white;
  padding:2px;
  margin:2px;
}
.dateAndTime{
  color: red;
}
.icons{
  text-align: right;
  align-items: center;
  margin: auto;
  gap:0.5rem;
}
.icon{
  cursor: pointer;
  font-size: 20px;
}
h2{
  background-color:black;
  color:white;
  text-align: center;
  margin-top: 15px;
  margin-left:5px;
  margin-right: 5px;
  padding: 10px;
}
.list{
  display: flex;
  flex-wrap: wrap;
}
.item-wrapper {
  flex-basis: 50%;
  /* Two items in a row */
  padding: 5px;
  box-sizing: border-box;
}


@media screen and (max-width:1200px) {
  .container{
    display: block;
    max-width: 800px;
  }
  .header{
    width:100%;
  }
}
@media screen and (max-width:500px) {
  body{
    font-size: 14px;
  }
  .task {
      font-size: 14px;
      font-weight: 500;
  }
  .container {
    display: block;
    max-width: 400px;
  }
  .list {
    display: block;
  }
}